<app-header [titulo]="titulo"></app-header>


<ion-content>
  <ion-card>
    <ion-list lines="none">
      <ion-item *ngFor="let orden of ordenes" (click)="historialPedido(orden)">
        <ion-icon name="cart" slot="start" color="primary"></ion-icon>
        <ion-label text-wrap> {{ orden.created_at|date:'shortDate' }} {{ orden.created_at|date:'shortTime' }}
        </ion-label>
        <ion-note *ngIf="orden.estado == 1" slot="end" color="warning">
          En espera
        </ion-note>

        <ion-note *ngIf="orden.estado == 5" slot="end" color="tertiary">
          En camino
        </ion-note>

        <ion-note *ngIf="orden.estado == 6" slot="end" color="success">
          Entregado
        </ion-note>

      </ion-item>
    </ion-list>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>