 h3 {
   text-align: center;
 }

 #pedido {
   background: white;
 }

 #button {
   background-color: var(--ion-color-danger);
 }

 p {
   padding: 0px !important;
 }

 .bordes {
   border-top: 1px solid #cdcdcd;
   border-bottom: 1px solid #cdcdcd;
 }



 #cantidad {
   text-align: center;
   margin-left: 4px;
 }

 #text_Cantidad {
   padding-left: 5% !important;
 }

 #platillo {
   margin-left: 5px;
   margin-top: 5px;
 }

 #precio {
   padding-left: 38% !important;
 }


 #pie {
   float: right;
   margin-right: 10px !important;
   padding: 0px !important;
 }

 ion-select.mySelect {
   width: 100%;
   max-width: 100%;
 }

 .footer-pedido {
   background-color: var(--ion-color-primary);

 }

 .restar {}