<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              {{ p.title }}
            </ion-label>
            <ion-icon slot="start" name={{p.icon}}></ion-icon>

          </ion-item>
        </ion-menu-toggle>

        <ion-item tappable (click)="callSupport()" routerDirection="root">
          <ion-icon name="help-buoy" slot="start"></ion-icon>
          Llamar a soporte
        </ion-item>


        <ion-item tappable (click)="exit()" routerDirection="root">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Salir
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>