<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title text-capitalize>{{ titulo }}</ion-title>
  </ion-toolbar>

</ion-header>