<app-header [titulo]="titulo"></app-header>

<ion-content>
  <h1 text-center>
    Nuestros productos para ti</h1>
  <ion-slides autoplay="300" *ngIf="sliders && sliders.length" [options]="sliderOpts">
    <ion-slide *ngFor="let img of sliders">
      <img src="{{SERVER}}/images/{{img.imagen}}" alt="" tappable (click)="openPreview(img)" />
    </ion-slide>
  </ion-slides>



  <div class="gallery" [ngSwitch]=" galleryType" padding>
    <!-- Responsive Layout with Ion Grid-->
    <div class="images" *ngSwitchCase="'pinterest'">
      <div class="one-image" *ngFor="let image of destacados">
        <img *ngIf="image.destacado === 1" src="{{SERVER}}/images/{{ image.imagen }}" alt="{{ image.name }}" tappable
          (click)="openProducto(image)">
      </div>
    </div>
  </div>


  <!-- <ion-button (click)="goToCategories()" expand="full" color="secondary">
    <ion-icon slot="start" name="eye"></ion-icon>
    Ver mas
  </ion-button> -->


</ion-content>