ion-slides {
  margin-top: 10%;
  background: #ffffff;

  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }


}

.images {
  padding-top: 10%;
}

.image-container {
  min-height: 200px;
  background-size: cover;
}

.gallery {
  padding-top: 5% !important;
}

@media (min-width: 0px) {
  .images {
    column-count: 2;
  }
}

@media (min-width: 420px) {
  .images {
    column-count: 3;
  }
}

@media (min-width: 720px) {
  .images {
    column-count: 4;
  }
}

.one-image {
  margin: 2px;
}

ion-button {
  --background: var(--ion-color-primary-shade);

}