<ion-header>

  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos del Envio</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="4">
      <img class="logo" src="assets/imgs/Sushi_Logo.jpg" alt="logo">
    </ion-col>
    <ion-col size="8">
      <h4 id="nombreCliente"> Hola: {{ user.name }} </h4>
      <p>Confirma los siguientes datos para culminar</p>
    </ion-col>
  </ion-row>


</ion-header>

<ion-content padding>
  <!-- <ion-item *ngIf="cargoDomicilio === 0">
    <p>
      <ion-text text-justify color="warning">
        La distancia de esta direccion o su ubicacion no esta contemplada en nuestro rango de servicio
      </ion-text>

    </p>
  </ion-item> -->

  <ion-list>
    <ion-note item-start>
      Dirección de entrega
    </ion-note>



    <ion-grid>
      <ion-row>
        <ion-col size="12" no-padding>
          <ion-item>
            <ion-input [(ngModel)]="autocomplete.input" (input)="updateSearchResults()" type="text"
              placeholder="direccion" disabled="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>



    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>

    </ion-list>
    <!--  <ion-list>
      <ion-item>
        Direccion : {{ mapdir }}
      </ion-item>
    </ion-list> -->

    <ion-list>
      <ion-item>
        <ion-label>Forma de Pago</ion-label>
        <ion-select [(ngModel)]="selecion" #seleccion>
          <div *ngFor="let metodo of formasPago">
            <ion-select-option *ngIf="metodo.id == 1" value="{{metodo.id}}" selected>{{metodo.descripcion}}
            </ion-select-option>
            <ion-select-option *ngIf="metodo.id != 1" value="{{metodo.id}}">{{metodo.descripcion}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>


    <ion-item>
      <ion-textarea [(ngModel)]="observaciones" class="area"
        placeholder="Observaciones o si su pago es en efectivo, colocar la cantidad"></ion-textarea>
    </ion-item>
    <ion-item style="padding-button:3rem">
      <ion-label (click)="abrirFactura()">Emision de Factura(con datos):</ion-label>
      <ion-checkbox (click)="abrirFactura()" [(ngModel)]="factura"> </ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="paypal-button" *ngIf="selecion!= 1" expand="full" color="warning" (click)="payPaypal()">
          Pagar con Paypal
        </ion-button>
        <ion-text color="danger">
          <p *ngIf="selecion!= 1" color="danger" text-wrapper> Si paypal es tu metodo de pago, por favor cancelar antes
            de continuar o tu orden no sera procesada

          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-item>


  <ion-footer>

    <!--  Seccion de Facaturacion y totales -->
    <ion-row id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Sub-Total: ${{subTotal2}}</p>
      </ion-col>
      <ion-col [hidden]="factura === false" size="12">
        <p no-margin>IVA: ${{ (subTotal2 * iva) /100 }}</p>
      </ion-col>
      <ion-col size="12">
        <p no-margin>Cargo a Domicilio: ${{ cargoDomicilio }}</p>
      </ion-col>
    </ion-row>


    <!-- Seccion para calculo de importe en paypal -->
    <ion-row text-right>
      <ion-col size="12" *ngIf="seleccion.value == 1 " id="pie" offset-4>
        <p hidden no-margin>Pago Paypal: ${{ ((subTotal2 + cargoDomicilio )* cargoPaypal) /100 | number:'1.2-2' }}</p>
      </ion-col>
      <ion-col size="12" *ngIf="seleccion.value != 1 && factura == false " id="pie" offset-4>
        <p no-margin>Pago Paypal: ${{ ((subTotal2 + cargoDomicilio )* cargoPaypal) /100 | number:'1.2-2' }}</p>
      </ion-col>
      <ion-col size="12" *ngIf="seleccion.value != 1 && factura == true " id="pie" offset-4>
        <p no-margin>Pago Paypal: ${{ ((subTotal2 + cargoDomicilio + (subTotal2 * iva) /100)* cargoPaypal) /100 |
      number:'1.2-2' }}</p>
      </ion-col>
    </ion-row>



    <!-- Seccion para calculo de totales -->
    <ion-row text-right>
      <ion-col size="12" *ngIf="factura === true && seleccion.value == 1" id="pie" offset-4>
        <h4>Total: ${{ subTotal2 + (subTotal2 * iva) /100 + cargoDomicilio }}</h4>
      </ion-col>
      <ion-col size="12" *ngIf="factura === false && seleccion.value == 1" id="pie" offset-4>
        <h4>Total: ${{ subTotal2 + cargoDomicilio }}</h4>
      </ion-col>
      <ion-col size="12" *ngIf="factura === true && seleccion.value !=1" id="pie" offset-4>
        <h4>Total:
          ${{ subTotal2 + (subTotal2 * iva) /100 + ((subTotal2 + cargoDomicilio +((subTotal2 * iva) /100))* cargoPaypal)/100 +cargoDomicilio | number:'1.2-2'}}
        </h4>
      </ion-col>
      <ion-col size="12" *ngIf="factura === false && seleccion.value != 1" id="pie" offset-4>
        <h4 sttep="0.00">Total:
          ${{ subTotal2 + ((subTotal2 + cargoDomicilio )* cargoPaypal) /100 +cargoDomicilio| number:'1.2-2'}}</h4>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="cargoDomicilio === 0">
      <p>
        <ion-text text-justify color="warning">
          La distancia de esta direccion o su ubicacion no esta contemplada en nuestro rango de servicio
        </ion-text>

      </p>
    </ion-item>


    <ion-button *ngIf="selecion != 2 && factura === false" [disabled]="cargoDomicilio === 0 " expand="full" id="footer"
      (click)="confirmarPedEfecNoFactura()" color="tertiary">
      <ion-icon slot="start" name="paper-plane"> </ion-icon>
      Confirmar y enviar pedido
    </ion-button>
    <ion-button *ngIf="selecion != 2 && factura === true" [disabled]="cargoDomicilio === 0 " expand="full" id="footer"
      (click)="confirmarPedEfecSiFactura()" color="tertiary">
      <ion-icon slot="start" name="paper-plane"> </ion-icon>
      Confirmar y enviar pedido
    </ion-button>
    <ion-button *ngIf="selecion != 1 && factura === false" [disabled]="cargoDomicilio === 0 " expand="full" id="footer"
      (click)="confirmarPedPaypNoFactura()" color="tertiary">
      <ion-icon slot="start" name="paper-plane"> </ion-icon>
      Confirmar y enviar pedido
    </ion-button>
    <ion-button *ngIf="selecion != 1 && factura === true" [disabled]="cargoDomicilio === 0 " expand="full" id="footer"
      (click)="confirmarPedPaypSiFactura()" color="tertiary">
      <ion-icon slot="start" name="paper-plane"> </ion-icon>
      Confirmar y enviar pedido
    </ion-button>

    <!--  <ion-button expand="full" id="footer" (click)="startLocation()" color="tertiary">
      <ion-icon slot="start" name="paper-plane"> </ion-icon>
      Localizacion
    </ion-button> -->


    <!--  <ion-button expand="full" id="footer" (click)="abrirPaypalBox()" color="primary">
      <ion-icon slot="start" name="paper-plane"> </ion-icon>
      Paypal Box
    </ion-button> -->

  </ion-footer>


</ion-content>