<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button (click)="backButton()"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{ titulo }}</ion-title>
    <ion-buttons slot="end">

      <button [disabled]="listPedido.length === 0" icon-only color="royal" (click)="pedido(listPedido)"
        class="cart-button">
        <ion-icon slot='icon-only' name='cart' is-active="false"></ion-icon>
        <ion-badge *ngIf="listPedido.length > 0" color="danger" class="carrito-numero">{{listPedido.length }}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngFor="let subcat of subcategorias"  lines="none">
    <ion-item ngif="" (click)="itemSelected(subcat) " detail>
      {{ subcat.nombre }}
      <ion-icon slot="end" name="ios-arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>