.cart-button {
  background-color: var(--ion-color-tertiary);
}

img.product-image {
  height: 100px;
  max-width: 150px !important;


}

.forms {

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  border: 2px solid var(--ion-color-warning-shade);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 5px;
  padding-left: 5px;

  height: 75%;
  width: 100%;
  margin-top: 4px;
  background-color: transparent;
  --background: transparent;


}

.person-text {
  white-space: pre-line !important;
}