<app-header [titulo]="titulo"></app-header>

<ion-content>
  <ion-button full icon-left (click)="startTracking()" *ngIf="!isTracking">
    <ion-icon name="locate"></ion-icon>
    Start Tracking
  </ion-button>
  <ion-button ion-button full color="danger" icon-left (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand"></ion-icon>
    Stop Tracking
  </ion-button>

  <div #map id="map"></div>

  <ion-list>
    <ion-list-header>Previous Tracks</ion-list-header>
    <ion-item *ngFor="let route of previousTracks">
      {{ route.finished | date }}, {{ route.path.length }} Waypoints
      <ion-button clear item-end (click)="showHistoryRoute(route.path)">View Route</ion-button>
    </ion-item>
  </ion-list>

</ion-content>